/* Resetando alguns estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo fontes e cores básicas */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #333;
    margin: 29px;
}

/* Estilo do contêiner de login */
.login-container {
    background-color: #fff;
    padding: 20px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Estilo dos campos de entrada */
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #6c63ff;
    outline: none;
}

/* Estilo do botão */
button {
    background-color: #111;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #222;
}

/* Estilo dos links */
.links {
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os links */
}

.links a {
    color: #677e44;
    text-decoration: none;
    font-size: 14px;
}

.links a:hover {
    text-decoration: underline;
}
