/* Resetando alguns estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Definindo fontes e cores básicas */
body {
    font-family: Arial, sans-serif;
    background-color: #f3f9e9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #333;
    margin: 29px;
}

/* Estilo do contêiner de login */
.login-container {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 46px;
    padding-top: 60px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 40vw;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

/* Estilo dos campos de entrada */
input[type="email"],
input[type="password"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

input[type="email"]:focus,
input[type="password"]:focus {
    border-color: #6c63ff;
    outline: none;
}

/* Estilo do botão */
button {
    background-color: #111;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #222;
}

/* Estilo dos links */
.links {
    text-align: center;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaçamento entre os links */
}

.links a {
    color: #677e44;
    text-decoration: none;
    font-size: 14px;
}

.links a:hover {
    text-decoration: underline;
}


/* Estilo do botão de seta dentro do quadrado */
.back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #333333; /* Cor da seta */
    text-decoration: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

.back-arrow:hover {
    color: #afca85; /* Cor da seta ao passar o mouse */
}

/* Estilo da mensagem de erro */
.error-message {
    color: #ff4d4d; /* Cor vermelha para erro */
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}


/* Estilo do botão de seta dentro do quadrado */
.back-arrow {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 24px;
    color: #333333; /* Cor da seta */
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

.back-arrow:hover {
    color: #afca85; /* Cor da seta ao passar o mouse */
}

/* Estilo da mensagem de erro */
.error-message {
    color: #ff4d4d; /* Cor vermelha para erro */
    font-size: 14px;
    margin-bottom: 10px;
    text-align: center;
}

/* Ajustes no container para incluir a seta */
.login-container {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 45px;
    padding-top: 60px; /* Espaço para a seta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}
